{% assign collection = site[include.collection] %}

{% if include.only and include.facet_by %}
  {% assign subset = collection | where: include.facet_by, include.only | sort: 'order' %}
{% endif %}

<div id='wax-gallery-{{ include.collection }}-container' class='wax-gallery-container full-width'>
  <div class='wax-inline-container'>
    <div id="{{ include.collection }}-facet-buttons" class="facet-buttons"></div>
    <div id="wax-gallery-{{ include.collection }}" class="wax-gallery"></div>

    <div class="grid are-images-unloaded">
      <div class="grid__col-sizer"></div>
      <div class="grid__gutter-sizer"></div>

      {% capture page_num %}{{ page.page_num | to_integer }}{% endcapture %}
      {% capture pageworth %}{{ site.pageworth | to_integer }}{% endcapture %}
      {% capture slice_start %}{{ page_num | minus: 1 | times: pageworth }}{% endcapture %}

      {% assign this_slice = site.data.community_archive | slice: slice_start, pageworth %}
      {% for image in this_slice %}
        <div class="grid__item">
          <a href="{{ site.baseurl }}/community_archive/{{ image.pid | downcase }}/">
          <img src="{{ image.thumbnail | absolute_url }}">
          {{ image.label }}<br/>
          {{ image.timestamp }}
          </a>
        </div>
      {% endfor %}
    </div>

    <p class="pagination">
      {% capture next_page %}{{ page.page_num | to_integer | plus: 1 }}{% endcapture %}
      <a class="pagination__next" href="{{ 'page' | append: next_page | absolute_url }}/">Next page</a>
    </p>

  </div>

</div>

<script src="{{ '/assets/infinite-scroll/gallery.js' | absolute_url }}"></script>