<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}
  </title>

  <link rel='canonical' href='{{ page.url | absolute_url }}'/>
  <link rel='icon' type='image/png' href="{{ 'img/logo.png' | absolute_url }}">
  <link rel='stylesheet' href="{{ '/assets/styles.css' | absolute_url }}"/>

  <script type='text/javascript' src="{{ '/assets/jquery-3.2.1.min.js' | absolute_url }}"></script>

  <script src="{{ '/assets/leaflet/leaflet.js' | absolute_url }}"></script>
  <link rel="stylesheet" href="{{ '/assets/leaflet/leaflet.css' | absolute_url }}" />
    <style>
      #mapdiv {
        /* configure the size of the map */
        width: 512px;
        height: 350px;
      }
    </style>

  <noscript><p>Please enable JavaScript in your browser.</p></noscript>
</head>
