<div id="{{ include.maptype }}"></div>

<script>

window.onload = function() {
        var testData = {
          max: {{ include.mapmax }},
          data: {{ include.mapdata }}
        };
        var baseLayer = L.tileLayer(
          'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery Â© <a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 15
          }
        );
        var cfg = {
          // radius should be small ONLY if scaleRadius is true (or small radius is intended)
          "radius": 80,
          "maxOpacity": .4,
          // scales the radius based on map zoom
          //"scaleRadius": true,
          // if set to false the heatmap uses the global maximum for colorization
          // if activated: uses the data maximum within the current map boundaries
          //   (there will always be a red spot with useLocalExtremas true)
          "useLocalExtrema": true,
          // which field name in your data represents the latitude - default "lat"
          latField: 'lat',
          // which field name in your data represents the longitude - default "lng"
          lngField: 'lng',
          // which field name in your data represents the data value - default "value"
         valueField: 'value'
        };

        var markers = []
        testData.data.forEach(function (item, index) {
          <!-- TODO: develop target that uses the fragment to select images -->
          markers.push(L.marker([item['lat'], item['lng']]).bindPopup('<a href="../../#' + item['slug'] + '">' + item['name'] + '</a>'));
        });
        var markerGroup = L.layerGroup(markers);

        var heatmapLayer = new HeatmapOverlay(cfg);
        var map = new L.Map('{{ include.maptype }}', {
          center: new L.LatLng({{ include.mapcentre }}),
          zoom: {{ include.mapzoom }},
          layers: [baseLayer, heatmapLayer]
        });
        heatmapLayer.setData(testData);

        // Attach map zoom handler
        map.on('zoomend', function (e) {
          // Check zoom level
          if (map.getZoom() > 11) {
            map.addLayer(markerGroup);
          } else {
            map.removeLayer(markerGroup);        
          }
        });

        // make accessible for debugging
        layer = heatmapLayer;
      };

</script>
